<!-- FOOTER -->
  <footer class="footer">
    <div class="footer-top">
      <div class="row container">
        <div class="col-lg-3 col-sm-3 col-3 footer-brand">
          <a href="./index.html" class="logo">Organ<span class="span">ica</span></a>
          <p class="footer-text">
            Bán lẻ online các mặt hàng thực phẩm Organic, non-GMO của Đức, Mỹ, Úc. Sản phẩm được các tổ chức uy tín cấp chứng nhận USDA, EU Organic, Nasaa, JAS.
          </p>
          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-skype"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
        <ul class="col-lg-4 col-sm-4 col-4 footer-list ">
          <li>
            <p class="footer-list-title">Contact</p>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="contact-link">
              Địa chỉ: 16/78 Đông Bắc, Khu phố 7, Phường Tân Chánh Hiệp, Quận 12, Tp. Hồ Chí Minh, Việt Nam
            </address>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>
            <a href="tel: 0906 913 227" class="contact-link">Hotline: 0906 913 227</a>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <a href="mailto:organica@help.com" class="contact-link">organica@help.com</a>
          </li>
        </ul>

        <div class="col-lg-5 col-sm-5 col-5 footer-list">
          <p class="footer-list-title">Email</p>
          <p class="newsletter-text">
            Bạn sẽ được thông báo khi chúng tôi có những chương trình khuyến mãi mới.
          </p>
          <form action="" class="footer-form">
            <input type="email" name="email" placeholder="Email *" required class="footer-input">
            <button type="submit" class="footer-form-btn" aria-label="Submit">
              <ion-icon name="mail-outline"></ion-icon>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="row footer-bottom ">
      <div class="col-lg-4 col-sm-4 col-4 container">
        <p class="copyright">
          &copy; 2024 <a href="#" class="copyright-link">codewithsadee</a>. All Rights Reserved.
        </p>
        <ul class="footer-bottom-list">
          <li>
            <a href="#" class="footer-bottom-link">Term and Service</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
<!-- END FOOTER -->