<!-- HEADER -->
    <header class="header" data-header>
        <div class=" fixed-top bg-white pt-3  pb-3">
          <div class="row">
            <div class="col-lg-4 col-sm-3 col-2 row-logo">
              <h1 class="h1 text-center">
                <a href="/" class="logo">Organ<span class="span">ica</span></a>
              </h1>
            </div>
            <div class="col-lg-6 col-sm-7 col-8 row-search">
              <form id="search-form" class="btn-group" method="GET">
                <input id="search-query" type="text" name="search-query" placeholder="Tìm kiếm" class="search-input">
                <button type="submit" class="header-action-btn" aria-label="Toggle search" data-search-btn>
                  <ion-icon name="search-outline" class="search-icon"></ion-icon>
                </button>
              <button type="button" class="header-action-btn" aria-label="Open wishlist" data-bs-toggle="modal" data-bs-target="#myWhishlist" data-panel-btn="wishlist">
                  <ion-icon name="heart-outline"></ion-icon>
                  <data class="btn-badge" value="3">00</data>
                </button>
                <button type="button" class="header-action-btn" aria-label="Open shopping cart" data-bs-toggle="modal" data-bs-target="#myCart" data-panel-btn="cart">
                  <ion-icon name="basket-outline"></ion-icon>
                  <data id="cart-badge" class="btn-badge " value="2">00</data>
                </button>
              </form>
            </div>
            <div class="col-lg-2 col-sm-1 col-2 row-person">
              <button type="button" class="login" data-bs-toggle="modal" data-bs-target="#loginAccount" aria-label="Account">
                Đăng nhập 
              </button>
              <button type="button" class="register" data-bs-toggle="modal" data-bs-target="#registerAccount" aria-label="Account">
                Đăng kí
              </button>
            </div>
          </div>
        </div>
        <nav class="navbar">
          <ul class="nav-list">
            <li>
              <a href="./" class="navbar-link">Trang chủ</a>
            </li>

            <li>
              <a href="./" class="navbar-link">Về Organica shop</a>
            </li>

            <li>
              <a href="./" class="navbar-link">Blog's Organica</a>
            </li>

            <li>
              <a href="./" class="navbar-link">Liên hệ</a>
            </li>
          </ul>
        </nav>
        </div>
    </header>
<!-- END HEADER -->